<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<!--
    This configuration adds the Quantum Development Kit prerelease feed to the NuGet feeds.
    This allows to reference prerelease packages from other parts of the Quantum Development Kit for testing purposes.

    See https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applied
    for more information about how NuGet and the .NET Core SDK find package sources specified in NuGet.Config files.
-->
<configuration>
  <packageSources>
    <add key="qdk-alpha" value="https://pkgs.dev.azure.com/ms-quantum-public/Microsoft Quantum (public)/_packaging/alpha/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>